* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    background: url("../../img/background2.png") no-repeat center center fixed;
    justify-content: center;
    align-items: center;
}

.logo {
    height: 90px;
    width: auto;
    margin: auto;
    display: flex;
}

.game-name {
    font-size: 20px;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
}

.start-button {
    cursor: pointer;
    color: #fff;
    background-color: #043988;
    border-color: #07224b;
    font-weight: 400;
    line-height: 1.5;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 16px;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    margin-bottom: 10px;
}

.start-button:hover {
    color: #fff;
    background-color: #0b5ed7;
    border-color: #0a58ca;
}

.memory-game {
    height: 600px;
    width: 600px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
}

.card {
    height: calc(25% - 10px);
    width: calc(25% - 10px);
    margin: 5px;
    position: relative;
    cursor: pointer;
    transform: scale(1);
    transform-style: preserve-3d;
    /* preserve-3d Não deixa o elemento achatado no plano */
    transition: transform 0.5s;
}

.card:active {
    transform: scale(0.95);
    transition: transform .3s;
}

.card:hover {
    transform: scale(1.05);
    transition: transform .3s;
}

.card-front,
.card-back {
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    border-radius: 5px;
    background: #ffffff;
    backface-visibility: hidden;
    /* retira o verso da imagem*/
}

.card-front {
    transform: rotateY(180deg);
}

/* Animação de virar a carta */

.card.flip {
    transform: rotateY(180deg);
}

/* scroll bar */

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}